:root {
    /****************** Font sizes ************/
    --fs-000: clamp(0.5277rem, 0.7015rem + -0.2242vw, 0.651rem);
    --fs-100: clamp(0.7035rem, 0.8131rem + -0.1414vw, 0.7813rem);
    --fs-200: clamp(0.9375rem, 0.9374rem + 0.0004vw, 0.9377rem);
    --fs-300: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
    --fs-400: clamp(1.35rem, 1.2206rem + 0.575vw, 1.6663rem);
    --fs-500: clamp(1.62rem, 1.3741rem + 1.0929vw, 2.2211rem);
    --fs-600: clamp(1.944rem, 1.5281rem + 1.8486vw, 2.9607rem);
    --fs-700: clamp(2.3328rem, 1.6726rem + 2.9343vw, 3.9467rem);
    --fs-800: clamp(2.7994rem, 1.7924rem + 4.4755vw, 5.2609rem);

    /****************** Paddings ************/
    --padding-0: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
    --padding-1: clamp(0.5625rem, 0.5369rem + 0.1136vw, 0.625rem);
    --padding-2: clamp(0.875rem, 0.8494rem + 0.1136vw, 0.9375rem);
    --padding-3: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
    --padding-4: clamp(1.6875rem, 1.6108rem + 0.3409vw, 1.875rem);
    --padding-5: clamp(2.25rem, 2.1477rem + 0.4545vw, 2.5rem);
    --padding-6: clamp(3.375rem, 3.2216rem + 0.6818vw, 3.75rem);
    --padding-7: clamp(4.5rem, 4.2955rem + 0.9091vw, 5rem);
    --padding-8: clamp(6.75rem, 6.4432rem + 1.3636vw, 7.5rem);

    /****************** Margins and gaps ************/
    --gap-0: clamp(0.3125rem, 0.1847rem + 0.5682vw, 0.625rem);
    --gap-1: clamp(0.5625rem, 0.4091rem + 0.6818vw, 0.9375rem);
    --gap-2: clamp(0.875rem, 0.7216rem + 0.6818vw, 1.25rem);
    --gap-3: clamp(1.125rem, 0.8182rem + 1.3636vw, 1.875rem);
    --gap-4: clamp(1.6875rem, 1.3551rem + 1.4773vw, 2.5rem);
    --gap-5: clamp(2.25rem, 1.6364rem + 2.7273vw, 3.75rem);
    --gap-6: clamp(3.375rem, 2.7102rem + 2.9545vw, 5rem);
    --gap-7: clamp(4.5rem, 3.2727rem + 5.4545vw, 7.5rem);
    --gap-8: clamp(6.75rem, 4.9091rem + 8.1818vw, 11.25rem);
    --gap-9: clamp(10.125rem, 8.1307rem + 8.8636vw, 15rem);
    --gap-10: clamp(13.5rem, 11.3523rem + 9.5455vw, 18.75rem);

    /****************** Colors ************/
    --bg-dark: hsl(240 10% 10%);
    --bg: hsl(240 10% 15%);
    --bg-light: hsl(240 10% 20%);

    --text: hsl(240 15% 95%);
    --text-muted : hsl(240 15% 70%);

    --clr-black: hsl(0 5% 5%);
    --clr-white: hsl(0 5% 95%);
    --clr-accent: hsl(0 71% 45%);
    --clr-primary: hsl(30 71% 45%);

    --clr-border: hsl(240 15% 20%);
    --clr-container: hsl(240 17% 88%);

    /****************** Shadows ************/
    --shadow-light:
    0 2px 4px hsl(0 0% 0% / 0.10),
    0 0 6px hsl(0 0% 0% / 0.06);

    --shadow-medium:
    0 4px 8px hsl(0 0% 0% / 0.12),
    0 0 12px hsl(0 0% 0% / 0.08);

    --shadow-high:
    0 8px 16px hsl(0 0% 0% / 0.16),
    0 0 24px hsl(0 0% 0% / 0.10);
}

@layer reset, base, layout, utilities;

@layer reset {
    *, *::before, *::after {
        margin: 0;
        padding: 0;
        font: inherit;
        box-sizing: border-box;
    }
    
    html {
        font-size: 16px;
        scroll-behavior: smooth;
        font-family: inter, sans-serif;
    }
    
    body {
        min-height: 100dvh;
    }
    
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.2;
        text-wrap: balance;
    }
    
    p, span {
        line-height: 1.6;
        text-wrap: pretty;
        color: var(--text-muted);
    }
    
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    button {
        border: none;
        cursor: pointer;
        background: none;
    }
    
    input, textarea, select {
        border: none;
        outline: none;
        color: inherit;
        background: none;
    }
    
    img, video, picture, svg {
        height: auto;
        display: block;
        max-width: 100%;
    }
}

@layer base {
    body {
        color: var(--text);
        background-color: var(--bg-dark);
    }

    /************* Header Section *************/
    header {
        background-color: var(--bg);
    }

    .nav-link:hover, .social-link:hover {
        color: var(--clr-primary);
    }

    @media (width < 600px){
        nav {
            background-color: var(--bg-light);
        }

        header button {
            color: var(--text);
        }
    }
    /************* Header Section *************/

    .about-card {
        border-radius: .5rem;
        background-color: var(--bg);
    }

    .technology {
        border-radius: .5rem;
        font-size: var(--fs-200);
        background-color: var(--bg);

        img {
            border-radius: .25rem;
            background-color: var(--clr-container);
        }
    }

    /************* Work Education Section *************/
    .education-work-btns {
        background-color: var(--bg);

        @supports(corner-shape: squircle){
            border-radius: 1rem;
            corner-shape: squircle;
        }

        button {
            color: var(--text);

            @supports(corner-shape: squircle){
                border-radius: 1rem;
                corner-shape: squircle;
            }
        }
    }

    .tab-panel {
        border-radius: 1rem;
        background: var(--bg);

        @supports(corner-shape: squircle){
            border-radius: 2rem;
            corner-shape: squircle;
        }
    }

    .popover-btn.active {
        background-color: var(--bg-dark);
    }

    .tab-panel.active {
        animation: pop .15s ease-out;
    }

    @keyframes pop {
        from {
            opacity: 0;
            transform: translateY(-4px) scale(.98);
        }
        to {
            opacity: 1;
            transform: translateY(0) scale(1);
        }
    }
    /************* Work Education Section *************/

    /************* Projects Section *************/
    .technologies-section i{
        color: var(--clr-primary);
    }
    /************* Projects Section *************/

    /************* Projects Section *************/
    .project-card {
        border-radius: .5rem;
        background-color: var(--bg);
    }

    .stack li {
        border-radius: .25rem;
        font-size: var(--fs-100);
        background-color: var(--bg-light);

        @supports(corner-shape: squircle){
            border-radius: 2rem;
            corner-shape: squircle;
        }
    }
    /************* Projects Section *************/
}

@layer layout {
    section:first-of-type {
        margin-top: var(--gap-7);
    }

    section + section {
        margin-top: var(--gap-9);
    }

    /************* Header Section *************/
    header {
        padding: var(--padding-2) 0;
    }

    header .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        display: flex;
        column-gap: var(--gap-2);
    }

    .socials {
        display: flex;
        gap: var(--gap-2);
        margin-top: var(--gap-2);
    }

    #open-menu, #close-menu {
        display: none;
    }

    @media (width < 600px){
        #open-menu, #close-menu {
            display: flex;
        }
        
        nav {
            width: 100%;
            inset: 0 0 auto 0;
            position: absolute;
            padding-block: var(--gap-6);

            align-items: center;
            row-gap: var(--gap-5);
            flex-direction: column;

            translate: 0 -100%;
            transition: translate 200ms ease-in;
        }

        nav.show {
            translate: 0 0;
        }
    }
    /************* Header Section *************/


    /************* About Section *************/
    .about-section .wrapper {
        display: grid;
        gap: var(--gap-4);
        grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    }

    @media (width > 600px) {
        .presentation {
            grid-column: span 2;
        }
    }

    .about-img img {
        height: 100%;
        object-fit: cover;
        border-radius: .5rem;
        aspect-ratio: 16 / 9;
    }

    .about-card {
        padding: var(--padding-4);
    }
    /************* About Section *************/


    /************* Work Education Section *************/
    .education-work-section .wrapper {
        margin-inline: auto;
        width: min(600px, 100%);
    }

    .education-work-btns {
        width: 100%;
        padding: var(--padding-0) var(--padding-1);
        
        display: grid;
        gap: var(--gap-0);
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        

        button {
            padding: var(--padding-0);
        }
    }

    .tab-panel {
        display: none;
    }
    
    .tab-panel.active {
        display: grid;
        gap: var(--gap-4);
        margin-top: 0.5rem;
        padding: var(--padding-2) var(--padding-3);

        li {
            display: grid;
            gap: .35rem;
        }
    }
    /************* Work Education Section *************/


    /************* Technologies Section *************/
    .technology-list {
        display: grid;
        gap: var(--gap-2);
        grid-template-columns: repeat(auto-fit, minmax(min(175px, 100%), 1fr));
    }

    .technology {
        display: flex;
        gap: var(--gap-0);
        align-items: center;
        padding: var(--padding-0) var(--padding-1);

        img {
            width: 40px;
            height: 40px;
            padding: .25rem;
            object-fit: contain;
        }
    }
    /************* Technologies Section *************/

    /************* Projects Section *************/
    .project-list {
        display: grid;
        gap: var(--gap-3);
        grid-template-rows: 1fr auto auto auto;
        grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    }

    .project-card {
        grid-row: span 4;
        padding: var(--padding-2);
        grid-template-rows: subgrid;
    }

    .stack {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-2) var(--gap-0);
        
        li {
            padding: var(--padding-0) var(--padding-1);
        }
    }
    /************* Projects Section *************/
}

@layer utilities {
    /****************************************** STRUCTURE**************************/
    .flow > * + * {
        margin-top: var(--gap-2);
    }

    .flow-xs > * + * {
        margin-top: var(--gap-0);
    }

    .flow-sm > * + * {
        margin-top: var(--gap-1);
    }

    .flow-md > * + * {
        margin-top: var(--gap-3);
    }

    .flow-lg > * + * {
        margin-top: var(--gap-4);
    }

    .wrapper {
        max-width: 1080px;
        margin-inline: auto;
        padding-inline: var(--padding-3);
    }
    /*********************** STRUCTURE**************************/


    /*********************** TYPOGRAPHY**************************/
    .text {
        font-size: var(--fs-300);
    }

    .text-xs {
        font-size: var(--fs-100);
    }

    .text-xm {
        font-size: calc((var(--fs-100) + var(--fs-200)) / 2);
    }

    .text-sm {
        font-size: var(--fs-200);
    }

    .text-xd {
        font-size: calc((var(--fs-200) + var(--fs-300)) / 2);
    }

    .text-md {
        font-size: var(--fs-400);
    }

    .text-lg {
        font-size: var(--fs-500);
    }

    .text-xl {
        font-size: var(--fs-600);
    }

    .text-2xl {
        font-size: var(--fs-700);
    }

    .text-3xl {
        font-size: var(--fs-800);
    }

    .text-lead {
        color: var(--text);
    }

    .text-muted {
        color: var(--text-muted);
    }

    .text-center {
        text-align: center;
    }

    .text-bold {
        font-weight: 700;
    }
    /*********************** TYPOGRAPHY**************************/

    /*********************** BUTTONS**************************/
    .btn, .btn-sm, .btn-lg {
        border-radius: .5rem;
        display: inline-block;
    }

    .btn {
        padding: var(--padding-1) var(--padding-2);
        font-size: calc((var(--fs-100) + var(--fs-200)) / 2);
    }

    .btn-sm {
        font-size: var(--fs-100);
        padding: var(--padding-0) var(--padding-1);
    }

    .btn-lg {
        font-size: var(--fs-200);
        padding: var(--padding-2) var(--padding-3);
    }

    .btn-primary {
        color: var(--clr-white);
        background-color: var(--clr-primary);
        transition: background-color 0.3s, color 0.3s;

        * {
            color: var(--clr-white);
        }
    }    

    .btn-secondary {
        outline: 1px solid var(--clr-primary);
        transition: background-color 0.3s, color 0.3s;

        * {
            color: var(--clr-primary);
        }
    }

    .btn-primary:hover, .btn-secondary:hover {
        outline: none;
        background-color: var(--clr-accent);

        * {
            color: var(--clr-white);
        }
    }

    .link {
        color: var(--clr-primary);
        text-decoration: underline;
        text-underline-offset: 4px;
        transition: color 0.3s;
    }

    .link:hover {
        text-decoration: none;
        color: var(--clr-accent);
    }

    .accent {
        color: var(--clr-primary);
    }
    /*********************** BUTTONS**************************/
}